{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title> No Peppers </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1," />
        <link rel="stylesheet" href="{% static 'blogs/reset.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'blogs/page.css' %}" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="topbanner">
                <img src="{% static 'blogs/images/3.jpg' %}" alt="banner"/>
            </div>
            <!-- user profile -->
            <div class="icon">
                <img src="{% static 'blogs/images/2.jpg' %}" class="icon" alt="user icon"/>
            </div>
            <!-- this is the head navigation bar-->
            <nav>
                <div class="navbar">
                    <a href="{% url 'blogs:index' %}">Home</a>
                    <a class="active" href="{% url 'blogs:page' 1 %}">Feeling Lucky</a>
                </div>
            </nav>
        </header>
        <!-- side search bar-->
        <section>
            <div class="sidebar">
                <h3>Cuisine</h3>
                <label class="container">Chinese
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">French
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <label class="container">Greek
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Italian
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Japanese
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <h3>Diet</h3>
                <label class="container">Vegetarian
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                
                <label class="container">Kosher
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </section>

        <!-- blog post content starts here-->
        <section>
            <div class="blogfeed">
                <div class="post">
                    <div class="content">
                        <header class="align-center">
                            <h2>{{ restaurant.name }}</h2>
                        </header>
                        <hr />                      
                        <p>{{ restaurant.cuisine }}</p>
                        <p>{{ restaurant.location }}</p>
                        <p>{{ restaurant.capacity }}</p>
                        <p>{{ restaurant.hours }}</p>
                    </div>
                    <!-- 
                    <div class="foodimg">
                        <img src="  " alt="egg-avocado"/>
                    </div>
                    -->
                </div>
            </div>
        </section>
    
        <!--footer-->
        <footer>
            <p> </p>
        </footer>
    </body>
</html>
